.div{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.main {
    a {
        &:hover{
            text-decoration: underline;
        }

        &:active{
            color: black;
        }
    }
}

.productList{
    a {
        &:hover{
            text-decoration: underline;
        }
    }
}