.div{
    margin: 7em 0 45px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .products{
        display: flex;
        flex-direction: row;
        gap: 3em;
        margin-bottom: 4em;

        .list{
            border-radius: 1em;
            align-self: center;
            width: 500px;
            height: fit-content;
            background-color: #127ad1;
            color: white;
            padding: 1em;
        }
    }

    .age{
        position: relative;

        .text{
            top: 20%;
            right: 15%;
            left: 15%;
            text-align: center;
            position: absolute;

            h3{
                color: white;
                background-color: rgba(29, 84, 129, 0.6);;
                padding: 2em;
                border-radius: 1em;
            }
        }
    }
}