.div{
    margin: 7em 0 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    .products{
        display: flex;
        flex-direction: row;
        align-items: center;
        .list{
            border-radius: 1em;
            width: 300px;
            height: fit-content;
            background-color: #127ad1;
            color: white;
            padding: 1em;
        }
    }

    .description{
        text-align: justify;
    }
}